<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hallelujah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mpesa.TitheActivity"></activity>
        <activity android:name=".ui.AdminPackage.EditActivitiesActivity" />
        <activity android:name=".ui.ChurchDetails.ChurchDetailActivity" />
        <activity android:name=".ui.SavedChurchActivity" />
        <activity android:name=".ui.CreateChurchActivity" />
        <activity android:name=".ui.AdminPageActivity" />
        <activity android:name=".ui.EditProfileActivity" />
        <activity android:name=".ui.BibleVerseActivity" />
        <activity android:name=".ui.NotesDetailActivity" />
        <activity android:name=".ui.SavedNotesActivity" />
        <activity
            android:name=".ui.CreateAccountActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>